.card {
    padding: 16px;
    margin-bottom: 16px;
    border-radius: 4px;
    box-shadow: 0 0 4px 0 lightgray;
    background: white;
    font-size: 20px;
}

.card__title {
    margin-bottom: 8px;
    display: block;
    font-weight: bold;
}